<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by model name" [(ngModel)]="modelName" (keydown)="onKeydown($event)"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="retrieveProducts()">Search</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
    <div class="col">
        <div class="mt-3">Items per Page:
            <select (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">{{ size }}</option>
            </select>
        </div>
        <div class="above-list">
            <div id="abovePhoto"></div>
            <div id="aboveModelName">model</div>
            <div id="aboveProducerName">producer</div>
            <div id="aboveStock">in stock</div>
            <div id="abovePrice">price</div>
        </div>
        <ul style="clear: both" class="list-group">
            <li class="list-group-item" *ngFor="let product of products | paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count}; let i = index" [class.active]="i == currentIndex" (click)="setActiveProduct(product, i)">
                <div id="inlistPic"><img class="proPic" src="{{ product.imageURL }}" alt="{{product.modelName}}"></div>
                <div id="modelName"><p>{{ product.modelName }}</p></div>
                <div id="producerName"><p>{{ product.producerName }}</p></div>
                <div id="stock"><p>{{ product.stock }}</p></div>
                <div id="price"><p>${{ product.price }}</p></div>
                <div id="addToCart"><div id="outerButton"><button class="button" (click)="addToCart(product)">add to cart</button></div></div>
            </li>
        </ul>
    </div>
</div>
