<div class="shop-checkout-delivery-container col-md-12">
  <div class="shop-checkout-delivery-header">
    <br>
    <h4>Shipping</h4>
    <br>
  </div>
  <div class="shop-checkout-delivery-content">
    <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
      <div class="leftForm">
        <div class="col-l">
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Building number/apartment</strong></label>
              <div class="input-group">
                <input type="text" formControlName="bldg_unit" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.bldg_unit.errors}"/>
              </div>
              <div *ngIf="submitted">
                <div class="fieldError" *ngIf="f.bldg_unit.errors?.required">building number is
                  required
                </div>
                <div class="fieldError" *ngIf="f.bldg_unit.errors?.pattern">letters are not allowed
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Street</strong></label>
              <div class="input-group">
                <input type="text" formControlName="street" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.street.errors}"/>
              </div>
              <div *ngIf="submitted && f.street.errors">
                <div class="fieldError" *ngIf="f.street.errors?.required">street is required</div>
                <div class="fieldError" *ngIf="f.street.errors?.pattern">digits are not allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>City</strong></label>
              <div class="input-group">
                <input type="text" formControlName="city" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.city.errors}"/>
              </div>
              <div *ngIf="submitted && f.city.errors">
                <div class="fieldError" *ngIf="f.city.errors?.required">city is required</div>
                <div class="fieldError" *ngIf="f.city.errors?.pattern">digits are not allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Country</strong></label>
              <div class="input-group">
                <input type="text" formControlName="country" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.country.errors}"/>
              </div>
              <div *ngIf="submitted && f.country.errors">
                <div class="fieldError" *ngIf="f.country.errors?.required">country is required</div>
                <div class="fieldError" *ngIf="f.country.errors?.pattern">digits are not allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Post-code</strong></label>
              <div class="input-group">
                <input type="text" formControlName="postal" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.postal.errors}"/>
              </div>
              <div *ngIf="submitted && f.postal.errors">
                <div class="fieldError" *ngIf="f.postal.errors?.required">post-code is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Contact person</strong></label>
              <div class="input-group">
                <input type="text" formControlName="contactPerson" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.contactPerson.errors}"/>
              </div>
              <div *ngIf="submitted && f.contactPerson.errors">
                <div class="fieldError" *ngIf="f.contactPerson.errors?.required">contact person is
                  required
                </div>
                <div class="fieldError" *ngIf="f.contactPerson.errors?.pattern">digits are not
                  allowed
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>E-mail</strong></label>
              <div class="input-group">
                <input type="text" formControlName="email" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.email.errors}"/>
              </div>
              <div *ngIf="submitted && f.email.errors">
                <div class="fieldError" *ngIf="f.email.errors?.required">email is required</div>
                <div class="fieldError" *ngIf="f.email.errors?.email">email is incorrect</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label class="text"><strong>Phone</strong></label>
              <div class="input-group">
                <input type="text" formControlName="phone" class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.phone.errors}"/>
              </div>
              <div *ngIf="submitted && f.phone.errors">
                <div class="fieldError" *ngIf="f.phone.errors?.required">phone number is required</div>
                <div class="fieldError" *ngIf="f.phone.errors?.pattern">letters are not allowed</div>
                <div class="fieldError" *ngIf="f.phone.errors?.minlength">minimum number of digits is
                  9
                </div>
              </div>
            </div>
          </div>
          <div id="distant"></div>
        </div>
      </div>
      <div class="rightButtons">
        <div class="cartInfo">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of cart">
              <div id="producerName"><p>{{ product["producerName"] }}</p></div>
              <div id="modelName"><p>{{ product["modelName"] }}</p></div>
              <div id="price"><p>{{ product["price"] | currency }}</p></div>
              <div id="quantity"><p>x{{ product["quantity"] }}</p></div>
              <div id="subTotal"><p>= {{ product["quantity"] * product["price"] | currency }}</p></div>
            </li>
          </ul>
        </div>
        <div id="grandTotal" *ngIf="cart.length !== 0"><strong>Total cost: {{grandTotal | currency}}</strong></div>
        <div class="form-actions">
          <div class="form-group row">
            <div class="shipButtons">
              <button [routerLink]="['/cart']" (click)="onReset()" class="button1">back to cart</button>
              <button class="button2" type="submit">make an order</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
