<div class="list row">
    <div class="col">
        <div class="above-list" *ngIf="cart.length !== 0">
            <br>
            <div id="abovePhoto"></div>
            <div id="aboveModelName">model</div>
            <div id="aboveProducerName">producer</div>
            <div id="aboveStock">in stock</div>
            <div id="abovePrice">price</div>
            <div id="aboveQuantity">quantity</div>
        </div>
        <div style="clear: both" id="cartIsEmpty" *ngIf="cart.length === 0">
            <br><br><h3>Cart is empty</h3>
        </div>
        <ul style="clear: both" class="list-group">
            <li class="list-group-item" *ngFor="let product of cart">
                <div id="inlistPic"><img class="proPic" src="{{ product.imageURL }}" alt="{{product.modelName}}"></div>
                <div id="modelName"><p>{{ product.modelName }}</p></div>
                <div id="producerName"><p>{{ product.producerName }}</p></div>
                <div id="stock"><p>{{ product.stock }}</p></div>
                <div id="price"><p>${{ product.price }}</p></div>
                <div id="quantity"><div id="outerButton1"><input type="number" name="quantity" value="{{product.quantity}}" min="1" max="{{product.stock}}"></div></div>
                <div id="removeFromCart"><div id="outerButton2"><button class="button" (click)="removeItem(product.id)">remove</button></div></div>
            </li>
        </ul>
    </div>
</div>
